In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../harga_rumah.csv')

In [13]:
df

        harga  luas  kasur  km
0    13300000  7420      4   2
1    12250000  8960      4   4
2    12250000  9960      3   2
3    12215000  7500      4   2
4    11410000  7420      4   1
..        ...   ...    ...  ..
540   1820000  3000      2   1
541   1767150  2400      3   1
542   1750000  3620      2   1
543   1750000  2910      3   1
544   1750000  3850      3   1

[545 rows x 4 columns]

In [29]:
#harga rumah terendah#
df['harga'].min()

1750000

In [15]:
#rata-rata harga rumah#
df['harga'].mean()

4766729.247706422

In [7]:
#rumah dengan ukuran terluas#
df['luas'].max()

16200

In [ ]:
#rumah dengan harga termahal#
df['harga'].max()

13300000

In [14]:
#rumah yang paling sering dibeli berdasarkan harga#
df['harga'].value_counts()

3500000     17
4200000     17
4900000     12
3150000      9
5600000      9
            ..
6580000      1
4319000      1
4375000      1
4382000      1
13300000     1
Name: harga, Length: 219, dtype: int64

In [24]:
#jumlah kasur terbanyak di dalam rumah#
df['kasur'].max()

6

In [25]:
#rumah dengan luas terkecil#
df['luas'].min()

1650

In [26]:
#rumah dengan jumlah kamar terbanyak#
df['km'].max()

4

In [35]:
#jumlah rumah dengan harga di atas 5000000#
condition = df['harga']>=5000000
df['harga'][condition].value_counts()

5250000    9
5600000    9
5950000    8
6650000    6
5740000    5
          ..
7525000    1
7840000    1
7875000    1
7910000    1
5005000    1
Name: harga, Length: 104, dtype: int64

In [20]:
#jumlah rumah yang harganya diatas 5000000#
condition = df['harga']>=5000000
df['harga'][condition].count()

195

In [21]:
#jumlah rumah yang luasnya diatas 5000#
condition = df['luas']>=5000
df['luas'][condition].count()

239

In [28]:
#rumah yang paling sering dibeli berdasarkan luas#
df['luas'].value_counts()

6000    24
3000    14
4500    13
4000    11
5500     9
        ..
6862     1
4815     1
9166     1
6321     1
3620     1
Name: luas, Length: 284, dtype: int64

In [30]:
#jumlah kasur terbanyak di dalam rumah#
df['kasur'].max()

6

In [31]:
#rumah dengan jumlah kamar terbanyak#
df['km'].max()

4

In [32]:
#jumlah kasur paling sedikit di dalam rumah#
df['kasur'].min()

1

In [33]:
#rumah dengan jumlah kamar paling sedikit#
df['km'].min()

1